@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
	--colorprimary: #1c1c1c;
	--colorsecondary: #fdfaf5;
	--coloraccent: #ff2449;

	--ff: "Nunito", sans-serif;

	/* Minor Third Typography*/
	/* --h1: bold 2.986rem / 1rem var(--ff);
	--h2: bold 2.488rem / 1rem var(--ff);
	--h3: bold 2.074rem / 1rem var(--ff);
	--h4: bold 1.728rem / 1rem var(--ff);
	--h5: bold 1.44rem / 1rem var(--ff);
	--h6: bold 1.2rem / 1rem var(--ff);
	--p: 1rem / 1rem var(--ff);
	--small: 0.833rem / 1rem var(--ff); */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scrollbar-color: rgb(172, 172, 172) transparent;
}

body {
	background-color: var(--colorsecondary);
	color: var(--colorprimary);
	font-family: var(--ff);
}

a {
	color: var(--coloraccent);
	text-decoration: none;
}

/* h1 {
	font: var(--h1);
}

h2 {
	font: var(--h2);
}

h3 {
	font: var(--h3);
}

h4 {
	font: var(--h4);
}

h5 {
	font: var(--h5);
}

h6 {
	font: var(--h6);
}

p {
	font: var(--p);
	color: var(--colorprimary);
} */
